@import url(../../../node_modules/bootstrap/dist/css/bootstrap.min.css);
.navi{
 
    box-shadow :0px 0px 15px 3px rgb(54, 58, 104);
    
  }

.nav-link{
  color:#fff !important;
}


.darkModeToggle{

  width: 60px;
  -webkit-appearance: none;
  height: 29px;
  
  @apply
  bg-yellow-400
  border-2
  border-gray-50
  rounded-full
  relative
  ;
  transition: .25s;
  transform: scale(0.65);
}

.darkModeToggle:checked{
@apply
bg-gray-600

;

}



.darkModeToggle:before{
  @apply
  absolute
  border
  bg-gray-500
  ;
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  top:0;
  left:-5px;
  border-radius: 25px;
  transform: scale(1.25);
  transition: 0.4s;

}


.darkModeToggle:checked:before{
  left: 35px;
  @apply
  bg-gray-200

  border-gray-600
  ;
}


.sidebar
{

  
  @apply bg-gray-200 border border-gray-700  w-60  ;
  height: 93%;
  position:absolute;
  right:0;
}


.open{
  right:-250px !important;
}